
#tongji {
    position: fixed;
    right: 0;
    bottom: 0;
}

#tongji a {
    color: #eaffea;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#tongji a:first-child {
    border-top-left-radius: 10px;
}

#tongji a:last-child {
    border-top-right-radius: 10px;
}

pre {
    font-family: Monaco, Consolas, monospace;
    font-size: small;
    font-weight: lighter;
    color: #369;
    margin-left: 50px;
    border-left: 10px solid blanchedalmond;
}

section.blog-header {
    color: white;
    padding: 0 256px;
    background: -moz-linear-gradient(120deg, #159957, #155799);
    background: -webkit-linear-gradient(120deg, #159957, #155799);
    background: -o-linear-gradient(120deg, #159957, #155799);
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

section.blog-header span {
    cursor: pointer;
}

section.blog-content {
    color: #256;
    width: 100%;
    padding: 50px calc((100% - 800px) / 2) 0;
    margin: 0 auto 50px;
    background: -moz-linear-gradient(120deg, #fff, #fefefe);
    background: -webkit-linear-gradient(120deg, #fff, #fefefe);
    background: -o-linear-gradient(120deg, #fff, #fefefe);
    overflow: hidden;
}

section.blog-content > p.q {
    color: red;
}

section.blog-content > p.q:before {
    content: '-->';
    color: #1d3e81;
}

section.blog-content > p.a {
    color: green;
    text-indent: 2em;
}

section.blog-content > p.a + p.q {
    border-top: 1px dashed black;
}

section.blog-content code {
    color: darkblue;
    background: rgba(0, 0, 0, 0.3);
}

p.a > a.ex {
    color: #40AA53;
    background: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

p.a > a.ex:before {
    content: '例: ';
    font-size: medium;
    color: #0000ff;
}
